<p id="notice"><%= notice %></p>
<h1 class="uk-text-center"><%= @family.name %> Family</h1>
<p class="uk-container">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure ullam quisquam fugit sequi
  molestiae fugiat sit, odit nobis tempora officia. Voluptatibus facilis, laudantium commodi cum earum distinctio
  quisquam mollitia sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure ullam quisquam fugit sequi
  molestiae fugiat sit, odit nobis tempora officia. Voluptatibus facilis, laudantium commodi cum earum distinctio
  quisquam mollitia sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure ullam quisquam fugit
  sequi molestiae fugiat sit, odit nobis tempora officia. Voluptatibus facilis, laudantium commodi cum earum distinctio
   quisquam mollitia sequi.</p>

<div class="uk-section uk-section-muted uk-preserve-color">
    <div class="uk-container">
        <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
          <% @family.family_members.each do |family_member| %>
            <div>
              <%= link_to(family_family_member_path(@family, family_member)) do %>
              <div class="uk-card uk-card-secondary uk-card-body uk-card-hover">
                <h3 class="uk-text-center"><%= family_member.full_name %></h3>
              </div>
              <% end %>
            </div>
          <% end %>
        </div>

    </div>
</div>

<div class="uk-section uk-section-secondary uk-preserve-color">
  <div class="uk-container">
    <div class="uk-panel uk-light uk-margin-medium">
      <h3>Adventures</h3>
    </div>
    <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
      <% @family.adventures.where(family_member_id: nil).each do |adventure| %>
      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <h3 class="uk-card-title uk-inline"><%= adventure.title %><span class="uk-badge ml10 mb3">$<%= adventure.cost %></span></h3>
          <p><%= adventure.description %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
